.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.box {
    margin-top: 30px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.section_contron {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

.form-fon {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.input {
    padding: 8px;
}

.letter {
    max-width: 200px;
    width: 100%;
    padding: 11px;
    border: 1px solid #999;
    border-radius: 5px;
    color: #777;
}

.button {
    border: 1px solid #777;
    border-radius: 5px;
    padding: 9px;
}